html{
  font-family: sans-serif;
}

:root{
  --color-primary-700: #FF7F2A;
  --color-primary-600: #FF6600;
  --color-primary-500: #D45500;
  --color-primary-400: #AA4400;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
